<div class="mediaform">
       <div class="novclanek">
            <h1>Posodobi članek</h1>
       </div>
       <hr>
       <div class="MediaInputclanekform">
            <form action="/mediainput/put/{{clanek._id}}" method="post">
                 <select id="select-kategorija" name="kategorija" class="form-control">
                    <option>Danes</option>
                    <option>Ekonomija</option>
                    <option>Izobrazba</option>
                    <option>Covid</option>
                    <option>Kultura</option>
                    <option>Šport</option>
                 </select>

                 <script>
                    var temp = "{{clanek.kategorija}}";
                    var mySelect = document.getElementById('select-kategorija');

                    for(var i, j = 0; i = mySelect.options[j]; j++) {
                        if(i.value == temp) {
                            mySelect.selectedIndex = j;
                            break;
                        }
                    }
                 </script>

                 <input type="text" class="MediaInputpolje" name="naslov" value="{{clanek.naslov}}" placeholder="Naslov članka" required="required">
                 <input type="text" class="MediaInputpolje" name="kraj" value="{{clanek.kraj}}" placeholder="Kraj" pattern="[A-Za-z]+" required="required">

                 {{#primerjaj clanek.slika "/images/default-slika.png"}}
                   <input type="file" id="file-selector" class="MediaInputpolje">
                      <p id="status"></p>
                      <div>
                            <img id="output">
                      </div>
                      <input type="hidden" id="potDoSlike" name="slika">
                      <br>
                 {{else}}
                      <input type="file" id="file-selector" class="MediaInputpolje">
                        <p id="status"></p>
                        <div>
                              <img id="output" src="{{../clanek.slika}}">
                        </div>
                        <input type="hidden" id="potDoSlike" name="slika" value="{{../clanek.slika}}">
                        <br>
                 {{/primerjaj}}
                {{!-- NALAGANJE SLIKE IN PRETVORBA V BASE64 --}}
                 <script>
                     const status = document.getElementById('status');
                     const output = document.getElementById('output');
                     const potDoSlike = document.getElementById('potDoSlike');
                     if (window.FileList && window.File && window.FileReader) {
                     document.getElementById('file-selector').addEventListener('change', event => {
                        output.src = '';
                        status.textContent = '';
                        const file = event.target.files[0];
                        if (!file.type) {
                          status.textContent = 'Error: The File.type property does not appear to be supported on this browser.';
                          return;
                        }
                        if (!file.type.match('image.*')) {
                          status.textContent = 'Error: The selected file does not appear to be an image.'
                          return;
                        }
                        const reader = new FileReader();
                        reader.addEventListener('load', event => {
                          output.src = event.target.result;
                          potDoSlike.value = event.target.result;
                        });
                        reader.readAsDataURL(file);
                     });
                     }
                 </script>

                 <textarea type="text" class="MediaInputcaptiontext" name="caption" placeholder="Kratek opis članka">{{clanek.caption}}</textarea>
                 <textarea class="MediaInputclanektext" name="clanektext" placeholder="V polje vnesite vsebino članka">{{clanek.besedilo}}</textarea>

                 <div class="row justify-content-between">
                      <button type="button" class="col-2 btn btn-primary btn-lg" data-toggle="modal" data-target="#modalnoOknoObjavi">Posodobi</button>
                      <button type="button" class="col-1 btn btn-primary btn-lg" data-toggle="modal" data-target="#modalnoOknoIzbrisi">Izbrisi</button>
                 </div>

                 {{!-- MODALNO OKNO ZA POSODOBITEV --}}
                 <div class="modal fade" id="modalnoOknoObjavi" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Potrditev</h5>
                              <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>
                                Ste prepričani da želite posodobiti ta članek?
                              </p>
                              <p class="text-secondary">
                                <small>Če objavite svoj članek, bo ta viden vsem uporabnikom strani eTv.</small>
                              </p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Prekliči</button>
                              <button type="submit" class="btn btn-primary btn-lg">
                                Potrdi
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {{!-- MODALNO OKNO ZA IZBRIS --}}
                    <div class="modal fade" id="modalnoOknoIzbrisi" tabindex="-1" role="dialog"
                           aria-labelledby="exampleModalLabel" aria-hidden="true">
                           <div class="modal-dialog" role="document">
                             <div class="modal-content">
                              <div class="modal-header">
                                 <h5 class="modal-title" id="exampleModalLabel">Potrditev</h5>
                                 <button type="button" class="close" data-dismiss="modal"
                                   aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                                 </button>
                              </div>
                              <div class="modal-body">
                                 <p>
                                   Ste prepričani da želite izbrisati ta članek?
                                 </p>
                                 <p class="text-secondary">
                                   <small>Če izbrišete svoj članek, bo ta trajno odstranjen iz podatkovne baze eTv.</small>
                                 </p>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Prekliči</button>
                                 <a class="btn btn-primary btn-lg" href="/article/izbrisi/{{clanek._id}}">Potrdi</a>
                              </div>
                             </div>
                           </div>
                         </div>
            </form>
       </div>
 </div>
